html {
  background-color: #990000;
  background-attachment: fixed;
}

body {
  color: white;
  font-family: Georgia;
}

p a:link {
  color: #D4AF37;
}

p a:visited {
  color: grey;
}

p a:hover {
  color: #D4AF37;
}

footer {
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  padding: .5rem;
  text-align: center;
  background-color: grey;
}
